<!DOCTYPE html>
<html class="h-full bg-background_primary" lang="en">
{% include './partial/_head.html' %}
<body class="h-full flex items-center justify-center">
    <div class="shadow-2xl flex flex-col h-fit items-center justify-center px-6 py-12 lg:px-8 sm:mx-auto sm:w-full sm:max-w-sm sm:my-auto from-background_primary to-background_secondary bg-gradient-to-br rounded-xl">

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-36 w-auto" src="../../static/assets/images/logoOficial-300x300.png" alt="Orion Aerospace">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Faça seu cadastro</h2>
          </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="" method="POST" action="">
                {{ form.hidden_tag() }}

            <div class="mb-6">
                <label for="{{ form.name.id }}" class="block text-base font-medium leading-6 text-white">{{ form.name.label.text }}</label>
                <div class="mt-2">
                    {{form.name(class="placeholder:text-sm block w-full font-semibold rounded-md border-0 py-1.5 text-sky-950 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6")}} 
                </div>
            </div>
            
            
            <div class="mb-6">
                <div class="flex items-center justify-between">
                    <label for="{{ form.username.id }}" class="font-medium block text-base font-sans leading-6 text-white">{{form.username.label.text}}</label>
                    <div class="text-sm">
                        {% if form.username.errors %}
                            <span class="font-semibold text-red-500 hover:text-red-400 text-">
                                {{ form.username.errors[0] }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-2">
                    {{form.username(class="placeholder:text-sm block w-full font-semibold rounded-md border-0 py-1.5 
                    text-sky-950 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6")}} 
                </div>
            </div>

            <div class="mb-3">
                <div class="flex items-center justify-between">
                    <label for="{{ form.password.id }}" class="font-medium block text-base font-sans leading-6 text-white">{{form.password.label.text}}</label>
                    <div class="text-sm">
                        {% if form.password.errors %}
                            <span class="font-semibold text-red-500 hover:text-red-400 text-">
                                {{ form.password.errors[0] }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-2">
                    {{form.password(class="peer placeholder:text-sm block w-full font-semibold rounded-md border-0 py-1.5 
                    text-sky-950 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6", id="password-input")}}
                    <span id="password-error" class="text-gray-400 text-xs">A senha precisa conter letras, números e símbolos.</span>
                    <script src="{{ url_for('static', filename='assets/src/passwordValidation.js') }}"></script>
                </div>
            </div>
            
            <div class="mb-6">
                <div class="flex items-center justify-between">
                    <label for="{{ form.repeat_password.id }}" class="block text-base font-medium text-white">{{form.repeat_password.label.text}}</label>
                    <div class="">
                        {% if form.repeat_password.errors %}
                            <span class="text-sm font-semibold text-red-500 hover:text-red-400">
                                {{ form.repeat_password.errors[0] }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-2">
                    {{form.repeat_password(class="placeholder:text-sm block w-full font-semibold rounded-md border-0 py-1.5 
                    text-sky-950 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6")}}
                </div>
            </div>
                
            <div class="flex mt-0 items-center justify-center">
                <button type="submit" class="flex w-60 justify-center rounded-md bg-purple-600 hover:bg-purple-500 text-lg font-semibold 
                text-white  shadow-sm focus-visible:outline 
                focus-visible:outline-2 focus-visible:outline-offset-2 px-5 py-1 border-white">Salvar</button>
            </div>
            </form>
        </div>
</div>
</body>
</html>
