{% extends 'base.html' %}
{% block title %} Home {% endblock  %}
{% block content %}
  <div class="row">
  {% for recipe in recipes %}
  <div class="col mx-auto align-middle">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{recipe.image_path}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">{{recipe.description}}</p>
        <a href="#" class="btn btn-primary">Ver Receita</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
{% endblock %}