{% extends 'base.html' %}
{% block title %} Home {% endblock  %}






{% block content %}
<!-- This is an example component -->
<div class='min-h-screen from-sky-900 to-sky-800 bg-gradient-to-br'>
  <div class='flex flex-wrap gap-6 justify-center pt-6'>
    {% for recipe in recipes %}
      <div class='flex flex-col max-w-md w-1/2 bg-sky-600 px-5 rounded-3xl '>
        <div class='h-60 bg-cover bg-center mt-4 rounded-lg opacity-90 hover:opacity-80' style="background-image: url('/static/assets/recipes_images/{{ recipe.image_path.split('photos/')[1] }}')"></div>
        <p class='font-bold text-sky-100 text-[22px] leading-7 mb-0'>{{recipe.title}}</p>
        <div class='flex flex-row'>
          <p class='text-sky-100 text-[17px] mr-0 line-through'>MVR 700</p>
          <p class='text-[17px] font-bold text-sky-100'>MVR 700</p>
        </div>
        <p class='text-sky-100 font-[15px] mt-0'>{{recipe.description}}</p>
        <button  href='#' class=' mb-4 text-sky-200 rounded-lg block mt-10 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-sky-800 hover:bg-sky-700 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
          Ver Receita
        </button>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}