<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login de Usuário: </h1>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {% if form.username.errors %}
            {{ form.username.errors[0] }}
        {% endif %}
        {{ form.password }}
        {% if form.password.errors %}
            {{ form.password.errors[0] }}
        {% endif %}
        {{ form.submit }}
    </form>
</body>
</html>