{% extends 'base.html' %}
{% block content %}
    <h1>Login de Usuário: </h1>

    <div class="mx-auto px-5">
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
            {{ form.username(class="form-control p-4 w-75") }}
            </div>
            {% if form.username.errors %}
                <span class="text-danger ">{{ form.username.errors[0] }}</span>
            {% endif %}
            {{ form.password(class="form-control p-4 w-75") }}
            {% if form.password.errors %}
                {{ form.password.errors[0] }}
            {% endif %}
             <button type="submit" class="btn  btn-primary btn-lg mt-3">Login</button>
    </form>
    </div>
{% endblock content %}