{% extends 'base.html' %}
{% block title %}Nova Receita{% endblock %}

{% block content %}
<div class="h-full w-full bg-background_secondary mt-1">
    <form class="pt-5" method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="grid grid-cols-2 gap-4 items-start justify-items-start mx-auto w-96">
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
            {{form.title.label}}
        </label>
        <div class="justify-self-end">
          {% if recipe %}
            <textarea type="text" name="{{form.title.id}}" class=" h-auto w-64  shadow-xl rounded-xl">{{recipe.title}}</textarea>
          {% else %}
            {{ form.title(class="h-auto w-64 rounded-xl shadow-xl") }}
          {% endif %}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.category.id}}>
          {{form.category.label}}
        </label>
        <div class="justify-self-end">
          {% if recipe %}
            <select name="category" id="{{form.category.id}}" class="rounded-xl shadow-xl">
              {% for choices in form.category.choices %}
                {% if choices[0] == recipe.category_id %}
                  <option value="{{choices[0]}}" selected>{{choices[1]}}</option>
                {% else %}
                  <option value="{{choices[0]}}">{{choices[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <!--{{ form.category(class="rounded-xl shadow-xl", value=recipe.category) }}-->
          {% else %}
            {{ form.category(class="rounded-xl shadow-xl") }}
          {% endif %}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.description.label}}
        </label>
        <div class="justify-self-end">
          {% if recipe %}
            <textarea placeholder="Descrição de sua receita" type="text" name="{{form.description.id}}" class="h-24 w-64 rounded-xl shadow-xl">{{recipe.description}}</textarea>
          {% else %}
            {{ form.description(class="h-auto w-64 rounded-xl shadow-xl") }}
          {% endif %}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.ingredients.label}}
        </label>
        <div class="justify-self-end">
          {% if recipe %}
            <textarea type="text" name="{{form.ingredients.id}}" class="h-60 w-64 rounded-xl shadow-xl">{{recipe.ingredients}}</textarea>
          {% else %}
            {{ form.ingredients(class="h-60 w-64 rounded-xl shadow-xl") }}
          {% endif %}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.preparation_steps.label}}
        </label>
        <div class="justify-self-end">
          {% if recipe %}
            <textarea type="text" name="{{form.preparation_steps.id}}" class="h-60 w-64 rounded-xl shadow-xl">{{recipe.preparation_steps}}</textarea>
          {% else %}
            {{ form.preparation_steps(class="h-60 w-64 rounded-xl shadow-xl") }}
          {% endif %}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.image_filename.label}}
        </label>
        <div class="justify-self-end">
          <div class="relative">
            <input type="file" id="{{ form.image_filename.id }}" name="{{ form.image_filename.name }}" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" onchange="handleFileChange(event)">
            <button type="button" class="py-2 px-6 bg-blue-500 text-white rounded-md shadow-sm">Selecionar Arquivo</button>
            <span id="selected-file-name" class="ml-2 mt-1 text-gray-400"></span>
          </div>
        </div>
        <script src="./../static/assets/src/inputField.js"></script>
        
      </div>
      <div class="flex justify-center w-full mt-4 pb-10">
        {% if recipe %}
          <input class="shadow-lg px-8 py-2 w-auto self-center no-hover text-white rounded-lg block font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80" id="{{form.submit.id}}" name="submit" type="submit" value="Atualizar">
        {% else %}
          {{form.submit(class='shadow-lg px-8 py-2 w-auto self-center no-hover text-white rounded-lg block font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80')}}
        {% endif %}
      </div>
      </div>
    </form>
  </div>
  
  
{% endblock %}

<!--
<form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
            {{ form.title(value="Título") }}
            </div>
            <div class="row">
                {{ form.category }}


            </div>
                <div class="row">
                {{ form.description }}
            </div>
                <div class="row">
                {{ form.ingredients}}
            </div>
                <div class="row">
                {{ form.preparation_steps}}
            </div>
                <div class="row">
                {{ form.image_filename }}
            </div>
                <div class="row">
                {{ form.submit }}
            </div>
            </form>

-->