{% extends 'base.html' %}
{% block title %}Nova Receita{% endblock %}

{% block content %}
<div class="h-full w-full bg-background_secondary mt-1">
    <form class="pt-5" method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="grid grid-cols-2 gap-4 items-start justify-items-start mx-auto w-96">
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
            {{form.title.label}}
        </label>
        <div class="justify-self-end">
            {{ form.title(class="h-auto w-64 rounded-xl shadow-xl") }}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.category.label}}
        </label>
        <div class="justify-self-end">
          {{ form.category(class="rounded-xl shadow-xl") }}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.description.label}}
        </label>
        <div class="justify-self-end">
          {{ form.description(class="h-24 w-64 rounded-xl shadow-xl") }}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.ingredients.label}}
        </label>
        <div class="justify-self-end">
          {{ form.ingredients(class="h-60 w-64 rounded-xl shadow-xl") }}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.preparation_steps.label}}
        </label>
        <div class="justify-self-end">
          {{ form.preparation_steps(class="h-60 w-64 rounded-xl shadow-xl") }}
        </div>
  
        <label class="text-lg text-white font-medium justify-self-start" for={{form.title.id}}>
          {{form.image_filename.label}}
        </label>
        <div class="justify-self-end">
          <div class="relative">
            <input type="file" id="{{ form.image_filename.id }}" name="{{ form.image_filename.name }}" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" onchange="handleFileChange(event)">
            <button type="button" class="py-2 px-6 bg-blue-500 text-white rounded-md shadow-sm">Selecionar Arquivo</button>
            <span id="selected-file-name" class="ml-2 mt-1 text-gray-400"></span>
          </div>
        </div>
      <script>
        function handleFileChange(event) {
          const fileInput = event.target;
          const fileNameElement = document.getElementById('selected-file-name');
          fileNameElement.textContent = fileInput.files[0]?.name || '';
        }
      </script>
        
      </div>
      <div class="flex justify-center w-full mt-4 pb-10">
        <button type='submit' class='shadow-lg px-8 py-2 w-auto self-center no-hover text-white rounded-lg block font-medium tracking-wide text-center capitalize transition-colors duration-300 transform bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
          Cadastrar Receita
        </button>
      </div>
      </div>
    </form>
  </div>
  
  
{% endblock %}

<!--
<form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
            {{ form.title(value="Título") }}
            </div>
            <div class="row">
                {{ form.category }}


            </div>
                <div class="row">
                {{ form.description }}
            </div>
                <div class="row">
                {{ form.ingredients}}
            </div>
                <div class="row">
                {{ form.preparation_steps}}
            </div>
                <div class="row">
                {{ form.image_filename }}
            </div>
                <div class="row">
                {{ form.submit }}
            </div>
            </form>

-->