{% include './partial/_head.html' %}

<nav class=" bg-background_primary p-0 mb-0 flex flex-row justify-between items-center gap-6 shadow-2xl">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="../../static/assets/images/logoOficial-300x300.png" alt="Logo" class="w-24 h-auto opacity-75 ml-4 pl-0 mt-1">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="flex flex-row gap-5 items-center" id="navbarSupportedContent">
      <ul class="flex flex-row gap-4 items-center">
        <li class="hover:text-current">
          <a class="font-sans text-xl text-text_primary hover:text-gray-300 no-hover" href="{{ url_for('my_recipes') }}">Minhas Receitas</a>
        </li>
        
        <li class="relative">
          <a class="font-sans text-xl text-text_primary hover:text-gray-300 no-hover" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Conta
          </a>
          <div class="absolute hidden mt-2 py-2 w-40 bg-white rounded-lg shadow-md" aria-labelledby="navbarDropdown">
            {% if not current_user.is_authenticated %}
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ url_for('login') }}">Entrar</a>
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ url_for('register') }}">Cadastro</a>
            {% else %}
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ url_for('register_new_recipe') }}">Nova Receita</a>
              <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ url_for('home') }}">Sair</a>
            {% endif %}

          </div>
        </li>
      </ul>
      <form class="flex items-center mr-5">
        <input class="form-control mr-2 py-2 px-4 rounded-md bg-gray-200 focus:outline-none focus:bg-white" type="search" placeholder="Digite o nome da receita" aria-label="Search">
        <button class="btn btn-outline-success py-2 px-4 rounded-md" type="submit">Procurar</button>
      </form>
      
    </div>
  </nav>